#Constructors
public net.minecraft.client.particle.Barrier <init>(Lnet/minecraft/world/World;DDDLnet/minecraft/item/Item;)V

#Fields
public net.minecraft.client.renderer.texture.TextureAtlasSprite field_110982_k # animationMetadata
public net.minecraft.client.Minecraft field_193996_ah # renderPartialTicksPaused
public net.minecraft.world.chunk.Chunk field_76638_b # precipitationHeightMap

#Methods
public net.minecraft.block.Block func_149672_a(Lnet/minecraft/block/SoundType;)Lnet/minecraft/block/Block; # setSoundType
public net.minecraft.world.chunk.Chunk func_76595_e(II)V # propagateSkylightOcclusion
public net.minecraft.world.chunk.Chunk func_76615_h(III)V # relightBlock